@import "tailwindcss";

html {
  min-height: 100%;
  background: #f9fafb;
}

body {
  min-height: 100dvh;
}

.scrollbar-none {
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

@media (display-mode: standalone) {
  body {
    overscroll-behavior-y: none;
  }
}
